<!DOCTYPE html>
<html>
<head>
  <title>TestWinBootstrap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
	  <nav>
	    <ul class="nav pull-right">
		  <li><%= link_to "Home",    '#' %></li>
		  <li><%= link_to "Help",    '#' %></li>
		  <li><%= link_to "Sign In",    '#' %></li>
		</ul>
	  </nav>
	</div>
  </div>
</header>

<div id="main_region">
  <div id="columns">
    
	<div id="side">
	  <% if session[:user_id] or User.count == 0 %>
	    <ul>
		  <li><%= link_to "Users", users_path %></li>
		  <li><%= link_to "Orders", '#' %></li>
		  <li><%= link_to "Products", '#' %></li>
		</ul>
		<%= User.count %>
		<% if User.count != 0 %>
		  <%= session[:user_id] %>
		  <%= User.find(session[:user_id]).name %>
		<% end %>  
	  <% end %>
	</div>
      
	<div class="container">
      <%= yield %>
    </div>
  
  </div>
</div>  

<footer class="footer">
  <small>
    This is footer
  </small>
</footer> 

<%= debug(params) if Rails.env.development? %>

</body>
</html>
